<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../styles/availability.css" />
  </head>
  <body>
    <div class="container">
      <div class="header-container"></div>
      <div class="content"></div>
      <div class="footer-container"></div>
    </div>
  </body>
  <script src="../services/AvailabilityService.js"></script>
  <script src="../components/card.js"></script>
  <script src="../components/header.js"></script>
  <script src="../components/footer.js"></script>
  <script>
    window.addEventListener("load", async () => {
      document.querySelector(".header-container").innerHTML = headerComponent.fillTemplateDefault();
      document.querySelector(".footer-container").innerHTML = footerComponent.fillTemplateDefault();

      availabilityService
        .getAvailability()
        .then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then((data) => {
          let cards = cardComponent.fillTemplateAvailabilities(data);
          document.querySelector(".content").innerHTML = cards.join("");
        })
        .catch((error) => {
          document.querySelector(".content").innerHTML = `<h1 class="availabilityNotFound" >Sorry, we are not able to show you the availabilities at the moment. Please try again later.</h1>`;
          console.log(error);
        });
    });
  </script>
</html>
