<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../styles/myBooking.css" />
    </head>
    <body>
        <div class="content">
            <div class="column">
                <img src="https://us.123rf.com/450wm/cowpland/cowpland1501/cowpland150100175/35162984-lupa-ico-plana-moderna.jpg?ver=6" height="60px" width="60px">
                <h1>My bookings</h1>
                <p>Here you can search any of your bookings, you can cancel them if you want.</p>
                <div class="divider"></div>
                <div id="bookingSearcher">
                    <input maxlength="8" type="text" id="bookingId" placeholder="Booking ID" />
                    <button class="effect search" onclick="searchBooking()">Search</button>
                    <button class="effect arrow" onclick="window.location.href = './index.html'">Home</button>
                </div>
                <div id="error" class="error"></div>
                <div id="bookingDetails" class="bookingDetails"></div>
                <nav id="navigation" class="hidden">
                    <a href="./index.html"><button class="effect arrow">Home</button></a>
                    <button class="effect print" onclick="window.print()">Print</button>
                    <div id="cancelBooking">
                        <button class="effect cancel" onclick="cancelBooking()">Cancel</button>
                    </div>
                    <button class="effect search" onclick="showSearcher()">Search</button>
                </nav>
        </div>
    </body>
    <script src="../utils/Utils.js"></script>
    <script src="../services/BookingService.js"></script>
    <script>
        document.querySelector("#bookingDetails").addEventListener("DOMSubtreeModified", () => {
            document.getElementById("error").innerHTML = "";
            if (document.getElementById("bookingDetails").innerHTML.length <= 0) {
                document.getElementById("bookingSearcher").hidden = false;
                document.getElementById("navigation").className = "hidden";
            } else {
                document.getElementById("bookingSearcher").hidden = true;
                document.getElementById("navigation").className = "navigation";
            }
        });

        function showSearcher() {
            document.getElementById("bookingDetails").innerHTML = "";
            document.getElementById("bookingSearcher").hidden = false;
            document.getElementById("navigation").hidden = true;
        }

        function searchBooking() {
            let bookingId = document.getElementById("bookingId").value;

            if (bookingId.length != 8) {
                document.getElementById("error").innerHTML = "Please, enter a valid booking ID, it must have 8 characters";
                return;
            }

            bookingService.getBooking(bookingId)
            .then((response) => {
                if (response.status == 404) {
                    document.getElementById("error").innerHTML = "Booking not found";
                    return false;
                } else if (response.status == 500) {
                    document.getElementById("error").innerHTML = "Something went wrong, please contact the administrator or wait for the error to be fixed";
                    return false;
                }
                return response.json();
            })
            .then(booking => {
                if (!booking) {
                    return;
                } else {
                    printBookingDetails(booking);
                }
            })
            .catch(error => {
                console.log(error);
                alert("There was an error searching your booking, please try again later.");
            });
        }

        function printBookingDetails(booking) {
            let bookingDetailsContainer = document.getElementById("bookingDetails");
                if (!booking.canceled) {
                    document.getElementById("navigation").hidden = false;
                    document.getElementById("cancelBooking").hidden = false;
                    let startDate = new Date(booking.startDate);
                    let endDate = new Date(booking.endDate);
     
                    bookingDetailsContainer.innerHTML = `
                        <h2>Booking details</h2>
                        <p><strong>Name</strong>: ${booking.name}</p>
                        <p><strong>Surname</strong>: ${booking.surname}</p>
                    `;   

                    if (booking.email) {
                        bookingDetailsContainer.innerHTML += `<p><strong>Email</strong>: ${booking.email}</p>`;
                    }

                    if (booking.phone) {
                        bookingDetailsContainer.innerHTML += `<p><strong>Phone</strong>: ${booking.phone}</p>`;
                    }

                    bookingDetailsContainer.innerHTML += `
                        <p><strong>Start date</strong>: ${startDate.getDate()}/${startDate.getMonth() + 1}/${startDate.getFullYear()}</p>
                        <p><strong>End date</strong>: ${endDate.getDate()}/${endDate.getMonth() + 1}/${endDate.getFullYear()}</p>
                        <p><strong>Price</strong>: ${booking.total.toFixed(2)}€</p>
                    `;

                    if (booking.isActive) {
                        bookingDetailsContainer.innerHTML += `<p><strong>Active</strong>: Yes</p>`;
                    } else {
                        bookingDetailsContainer.innerHTML += `<p><strong>Active</strong>: No</p>`;
                    }

                    bookingDetailsContainer.innerHTML += `
                    <div class="littleDivider"></div>
                    <h2>Bycicle details</h2>
                    <p><strong>Model</strong>: ${booking.bycicle.model}</p>
                    <p><strong>Brand</strong>: ${booking.bycicle.brand}</p>
                    <p><strong>Price per day</strong>: ${booking.bycicle.price.toFixed(2)}€</p>
                    <div class="littleDivider"></div>
                    <h2>Official store</h2>
                    <p><strong>Name</strong>: ${booking.store.storeName}</p>
                    <p><strong>Address</strong>: ${booking.store.address}</p>
                    <p><strong>Phone</strong>: ${booking.store.phoneNumber}</p>
                    <p><strong>Email</strong>: ${booking.store.email}</p>
                    `;
                } else {
                    document.getElementById("cancelBooking").hidden = true;
                    bookingDetailsContainer.innerHTML = `
                        <h2>Booking details</h2>
                        <p>Your booking with ID <strong>${booking.publicId}</strong> is canceled. Thank you so much, dear customer</p>
                    `;
                }
        }
    </script>
</html>